.homenew {
  position: relative;
  height: 97vh;
}

.navbarnew {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 1;
}

.logonew a {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.lognew a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-weight: bolder;
}

.backgroundnew {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  filter: brightness(0.5);
}

.title-containernew {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.titlenew {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  animation: moveTitle 5s linear infinite;
}

@keyframes moveTitle {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30%);
  }
}
/* CSS for the button */
.button-style {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 18px;
  background-color: #0074d9; /* Change the background color to your preference */
  color: white;
  border: none;
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer;
  text-decoration: none; /* Remove underlines from the link */
}

.button-style:hover {
  background-color: #0056b3; /* Change the background color on hover */
}

/* Optional: Add margin or spacing if needed */
.lognew {
  margin: 10px;
}

/* Optional: Style the link color */
.button-link {
  text-decoration: none;
  color: white;
}

